{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'components/atoms/head.html' %}
<body class="bg-tertiary-100 dark:bg-primary-900 dark:text-primary-50 flex min-h-screen">
    <!-- Skip to main content link for accessibility -->
    <a href="#main-content" class="sr-only focus:not-sr-only focus:absolute focus:top-0 focus:left-0 bg-primary-600 text-white p-2">
        Skip to main content
    </a>
{##}
{#    <!-- Sidebar -->#}
{# <!-- Off-canvas menu for mobile -->#}
{#    <div class="relative z-50 lg:hidden" role="dialog" aria-modal="true">#}
{#        <div class="fixed inset-0 bg-gray-900/80" aria-hidden="true"></div>#}
{##}
{#        <div class="fixed inset-0 flex">#}
{#            <div class="relative mr-16 flex w-full max-w-xs flex-1">#}
{#                <div class="absolute left-full top-0 flex w-16 justify-center pt-5">#}
{#                    <button type="button" class="-m-2.5 p-2.5 text-white">#}
{#                        <span class="sr-only">Close sidebar</span>#}
{#                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">#}
{#                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />#}
{#                        </svg>#}
{#                    </button>#}
{#                </div>#}
{#                {% include 'components/organisms/sidebar.html' %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <!-- Static sidebar for desktop -->#}
{#    <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">#}
{#        {% include 'components/organisms/sidebar.html' %}#}
{#    </div>#}
    <!-- Main content wrapper -->
    <div class="flex-1 flex flex-col min-h-screen transition-all duration-300 ease-in-out" id="main-wrapper">
        <!-- Header -->
        {% include 'components/organisms/header.html' %}

        {% block breadcrumbs %}
        {% endblock %}
        <!-- Main content area -->
        <main id="main-content" class="flex-grow container mx-auto px-4 mt-16 lg:max-w-screen-lg ">
            {% block content %}{% endblock %}
        </main>

        <!-- Footer -->
        {% include 'components/organisms/footer.html' %}
    </div>

    <!-- Main JavaScript file -->
    <!-- Include Alpine.js for Tailwind UI components -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.4.2/cdn.min.js" integrity="sha512-8a9UdXfZb1Nnzzh5YhG50ZtbFbdNYD7J4o/7Fd/Da4uGJFTvAYrRZmxBk7IVOGUhcV+0GfBQcC+lk2k5Mt9icQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Include Flowbite for Tailwind components -->
    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Custom JavaScript -->
    {% block custom_js %}{% endblock %}
</body>
</html>
