<!-- theme/templates/components/molecules/footer.html -->
{% load static %}
<footer class="bg-primary-500 dark:bg-primary-700 text-primary-50 dark:text-primary-50 py-4 mt-auto">
        <div class="container mx-auto px-4 mb-5">
        <div class="flex flex-col sm:flex-row justify-between items-center">
        <div class="flex items-center justify-center w-1/4 text-center">
            <img src="{% static 'images/logos/logo-green.png' %}" alt="logo" class="w-8 h-8 mr-2"/>
                LangLessPatientComm
            </div>
            <div class="text-right mr-10">
                <a href="#" id="go-to-top" class="text-primary-100 dark:text-primary-800 hover:text-primary-300 dark:hover:text-primary-600 flex items-center">
                    Go to Top
                    <div class="bg-accent-100 dark:bg-accent-700 w-8 h-8 rounded-full flex justify-center items-center ml-2">
                        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 sm:grid-cols-4 gap-4">
            <div class="flex flex-col items-center p-4">
                <img src="{% static 'images/logos/RITLogo.png' %}" alt="RIT Logo" class="rounded-full w-40 h-40 bg-warning-400"/>
            </div>
            <div class="flex flex-col shadow-lg bg-accent-100 dark:bg-accent-100 rounded-lg p-4">
                <h2 class="text-lg font-bold text-primary-800 dark:text-primary-900">About Us</h2>
                <p>
                    <a href="https://www.rit.edu/" target="_blank"
                       class="text-primary-700 dark:text-primary-700 hover:text-primary-900 dark:hover:text-primary-900">Rochester Institute of Technology</a><br/>
                    <a href="https://www.rit.edu/simonecenter/overview" target="_blank"
                       class="text-primary-700 dark:text-primary-700 hover:text-primary-900 dark:hover:text-primary-900">Studio 930</a><br/>
                    <a href="https://www.rochesterregional.org/" target="_blank"
                       class="text-primary-700 dark:text-primary-700 hover:text-primary-900 dark:hover:text-primary-900">Rochester Regional Health</a><br/>
                    <a href="{% url 'about_us' %}" class="text-primary-700 dark:text-primary-700 hover:text-primary-900 dark:hover:text-primary-900">The Creators (Team 11)</a><br/>
                    <a href="{% url 'mission' %}" class="text-primary-700 dark:text-primary-700 hover:text-primary-900 dark:hover:text-primary-900">Our Mission</a>
                </p>
            </div>
            <div class="flex flex-col shadow-lg bg-accent-100 dark:bg-accent-100 rounded-lg p-4">
                <h2 class="text-lg font-bold text-primary-800 dark:text-primary-900">Refugee Clinic Services</h2>
                <p class="text-primary-700 dark:text-primary-700">
                    Enter something here about the clinic and their resources<br/>
                    Maybe the clinic contact information and location?
                </p>
            </div>
            <div class="flex flex-col shadow-lg bg-accent-100 dark:bg-accent-100 rounded-lg p-4">
                <h2 class="text-lg font-bold text-primary-800 dark:text-primary-900">Features</h2>
                <p>
                    <a href="{% url 'doctor-list' %}" class="text-primary-700 dark:text-primary-700 hover:text-primary-900 dark:hover:text-primary-900">Doctors</a><br/>
                    <a href="{% url 'scanner' %}" class="text-primary-700 dark:text-primary-700 hover:text-primary-900 dark:hover:text-primary-900">Prescription Scanner</a><br/>
                    <a href="{% url 'prescription' %}" class="text-primary-700 dark:text-primary-700 hover:text-primary-900 dark:hover:text-primary-900">Drug Finder</a><br/>
                    <a href="{% url 'emergency-contact' %}" class="text-primary-700 dark:text-primary-700 hover:text-primary-900 dark:hover:text-primary-900">Emergency Information</a>
                </p>
            </div>
        </div>
    </div>
    <div class="container mx-auto flex justify-end px-5 py-5">
        <div class="flex justify-center items-center flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4">
            <img src="{% static 'images/logos/StudioLogo.png' %}" alt="Studio 930 Logo" class="w-48 bg-warning-800"/>
            <img src="{% static 'images/logos/RRHLogo.png' %}" alt="Rochester Regional Health Logo" class="w-48 bg-warning-800"/>
        </div>
    </div>
        <div class="text-center py-4 text-primary-50 dark:text-primary-50">
        © {% now "Y" %} Studio 930 and Rochester Regional Health. All rights reserved. Content is available under an open source license.
    </div>
</footer>
<script>
    // Function to scroll to the top of the page
    document.getElementById('go-to-top').addEventListener('click', function(event) {
        event.preventDefault();
        window.scrollTo({ top: 0, behavior: 'smooth' });
    });
</script>