{# theme/templates/pages/home.html #}
{% extends "base.html" %}
{% load static %}

{% block title %}Home - Healthcare Portal{% endblock %}

{% block content %}
    {# Main container #}
    <main class="container mx-auto px-4 py-8">
        <div class="flex flex-col md:flex-row items-start justify-center gap-8">
            {# Education section #}
            {% include "components/molecules/education_card.html" %}

            {# Services grid #}
            <div class="w-full md:w-2/3">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                    {% include "components/atoms/service_card.html" with url="doctor-list" image="doctor.png" title="Doctor List" %}
                    {% include "components/atoms/service_card.html" with url="emergency-contact" image="ambulance.png" title="Emergency Contact" %}
                    {% include "components/atoms/service_card.html" with url="drug_list" image="medical-record.png" title="Drug Finder" %}
                    {% include "components/atoms/service_card.html" with url="scanner" image="refill.png" title="Scanner" %}
                    {% include "components/atoms/service_card.html" with url="#" image="extra.png" title="Extra Service 1" %}
                    {% include "components/atoms/service_card.html" with url="#" image="extra.png" title="Extra Service 2" %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}