{% extends "base.html" %}

{% block content %}
    <section class="my-8">
        <!-- Scenario List Header -->
        <h1 class="text-2xl font-bold mb-4 text-neutral-800 dark:text-neutral-50">Scenario List</h1>

        <!-- Scenario Cards Grid -->

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-col-3 lg:grid-cols-4 xl:grid-cols-4 gap-6">
            {% for scenario in scenarios %}
                <!-- Individual Scenario Card -->
                <div class="bg-white dark:bg-neutral-800 hover:bg-neutral-100 dark:hover:bg-neutral-700 p-4 rounded-lg shadow-md cursor-pointer transition-colors duration-300"
                     onclick="location.href='{% url 'page_detail' scenario.pages.first.pk %}'">
                    <!-- Scenario Image -->
                    <img src="{{ scenario.image.url }}" alt="{{ scenario.title }}"
                         class="w-full h-48 object-cover rounded-t-lg mb-4">
                    <!-- Scenario Title -->
                    <h2 class="text-xl font-semibold text-neutral-800 dark:text-neutral-50 mb-2">{{ scenario.title }}</h2>
                    <!-- Scenario Description -->
                    <p class="text-neutral-600 dark:text-neutral-200">{{ scenario.description|safe }}</p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
